<!DOCTYPE html>
<html>
<head>
    <title>Добавление нового пользователя</title>
</head>
<body>
    <h1>Добавление нового пользователя</h1>
    <form method="post">
        {% csrf_token %}
        <label for="username">Имя пользователя:</label>
        <input type="text" name="username" required><br>

        <label for="password">Пароль:</label>
        <input type="password" name="password" required><br>

        <label for="first_name">Имя:</label>
        <input type="text" name="first_name" required><br>

        <label for="last_name">Фамилия:</label>
        <input type="text" name="last_name" required><br>

        <label for="number">Номер телефона:</label>
        <input type="text" name="number" required><br>

        <label for="email">Email:</label>
        <input type="email" name="email" required><br>

        <label for="role">Роль:</label>
        <input type="text" name="role" required><br>

        <label for="lab">ID лаборатории:</label>
        <input type="number" name="lab" required><br>

        <label for="telegram_id">Telegram ID:</label>
        <input type="text" name="telegram_id" required><br>

        <label for="orders_count">Количество заказов:</label>
        <input type="number" name="orders_count" required><br>

        <label for="permissions">Права доступа:</label>
        <input type="text" name="permissions" required><br>

        <input type="submit" value="Добавить пользователя">
    </form>
</body>
</html>
